.upload-box {
    background-color: var(--black2);
    margin: 5vh 24px;
    padding: 8px 12px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    .upload-title {
        color: var(--black6);
        width: 100%;
        text-align: center;
    }

    .upload-folders {
        color: var(--black4)
    }

    .upload-origin {

        .icons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
            padding: 14px;

            .icon-active {
                border: 1px solid var(--purple2);
                background-color: var(--purple3op);
            }

            img {
                width: 54px;
                height: 54px;
            }

            .star-badge {
                top: 6px !important;
                right: 6px !important;
            }

            .star {
                width: 24px;
                height: 24px;
            }
        }

        .recommended {
            padding: 0 18px;
            color: var(--black4)
        }
    }

    .upload-actions {
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 8px;
        margin-top: 12px;
    }
}