#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 100vh;


  #head {
    width: 100vw;
    height: 40vh;

    background: var(--purple3) url(../../assets/stars.png) no-repeat center;

    border-radius: 0 0 40% 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    #logo {
      width: 120px;
      height: 120px;

      padding: 8px;
      margin-bottom: -40px;

      background-color: var(--black2);

      border-radius: 50%;
    }
  }

  #body {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    #login-title {
      display: flex;
      flex-direction: column;

      text-align: center;
      align-items: center;

      gap: 14px;

      #title {
        font-size: 40px;
      }

      #subtitle {
        font-size: 20px;
        color: var(--black4);
      }
    }

    #login-buttons {
      display: flex;
      align-items: center;
      justify-content: center;

      flex-wrap: wrap;

      gap: 14px;

      .login-icon-button {
        display: flex;
        width: 60px;
        height: 60px;
        padding: 14px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;

        border-radius: 10px;
        border: 3px solid var(--Black3, #404040);

        /* CloudBox */
        box-shadow: 0px 4px 5px 0px rgba(13, 13, 13, 0.25);

        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}