#home {
    width: 100vw;
    overflow: hidden;

    #cloud-capacity {
        margin: 24px;
        padding: 6px 8px 8px;

        h1 {
            margin-bottom: 4px;
            font-size: 24px;
            font-weight: 500;
            color: var(--black6);
        }

        h2 {
            font-size: 14px;
            color: var(--black5);

            span {
                font-weight: 500;
                color: var(--green);
            }
        }

        .progress-bar {
            margin-top: 10px;
            padding: 0 4px;
        }
    }

    #cloud-accounts {
        display: flex;
        align-items: center;
        gap: 14px;
        padding: 8px 20px;
        overflow-x: auto;
    }

    #file-categories {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 18px 0;
        padding: 8px 0;
    }

    @media (min-width: 768px) {
        #cloud-capacity {
            margin: 35x;
        }

        #cloud-accounts {
            gap: 24px;
            padding: 16px 40px;
        }

        #file-categories {
            margin: 36px 0;
        }

        > section:last-of-type {
            margin-bottom: 200px;
        }
    }
}
#connect-account-modal {
    display: flex;
    align-items: center;
    justify-content: center;

    #connect-account-box {
        margin-top: -30%;
        width: 70%;
        background: var(--black2);
        border-radius: 10px;
        box-shadow: 0px 4px 5px rgba(13, 13, 13, 0.25);

        h1 {
            margin: 0;
            padding: 20px 0;
            width: 100%;
            text-align: center;
            font-size: 24px;
            font-weight: 500;
            color: var(--black6);
        }

        .connect-account-item {
            border-radius: 10px;

            .connect-account-icon {
                width: 40px;
                height: 40px;
            }

            h2 {
                margin: 0;
                padding: 0;
                width: 100%;
                text-align: center;
                font-size: 20px;
                font-weight: 500;
                color: var(--black5);
            }
        }

        /* Adjustments for desktop screens */
        @media (min-width: 768px) {
            #connect-account-box {
                margin-top: -15%;
            }
        }
    }
}

